.phone-input-wrapper .PhoneInput {
  display: flex;
  gap: 8px;
}

.phone-input-wrapper .PhoneInputInput {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #d1d5db;
  border-radius: 0.75rem;
  font-size: 16px;
}

.phone-input-wrapper .PhoneInputInput:focus {
  outline: none;
  border-color: #00008F;
  box-shadow: 0 0 0 2px rgba(0, 0, 143, 0.2);
}

.phone-input-wrapper .PhoneInputCountry {
  border-radius: 0.75rem;
  border: 2px solid #d1d5db;
  padding: 0 8px;
}
